{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}" />
  </head>
  <body>
    <div class="all">
      <div class="container">
        <h2>Register Here</h2>
        {% if messages %} {% for message in messages %}
        <h4>{{ message }}</h4>
        {% endfor %} {% endif %}
        <h2>Member Registration</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label>Username *</label>
      <input type="text" name="username" required />

      <label>Password *</label>
      <input type="password" name="password" required />

      <label>Full Name *</label>
      <input type="text" name="full_name" required />

      <label>Email *</label>
      <input type="email" name="email" required />

      <label>Phone</label>
      <input type="text" name="phone" />

      <label>Address</label>
      <textarea name="address"></textarea>

      <label>Profile Image</label>
      <input type="file" name="profile_image" />

      <button type="submit">Register</button>
    </form>
      </div>
      <div>
        <p>
          Already have an account?
          <a href="{% url 'login' %}">Login</a>
        </p>
      </div>
    </div>
  </body>
</html>
