body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;}
.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #4caf50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #45a049;
}

p {
    margin-top: 15px;
}

a {
    color: #ffcc00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#message{
    color: red;
}