body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.all{
    justify-content: center;
}
h4{
    color: red;
}
a{
    color: rgb(10, 243, 107);
    text-decoration: none;
}
.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 300px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.submit {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #ff9800;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #e68900;
}